*{
    margin: 0 auto;
    font-family: 'Abel', sans-serif;
}

.container{
   width: 80%;
}

 

header{
   width: 100%;
   padding: 16px 0px;
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.searchbox{
    width: 60%;
    margin-top: 32px;
    border-radius: 10px;
    
}

#searchbar{
  width: 84%;
  height: 44px;
  outline: none;
  border: none;
  float: left;
  background-color: #F5F5F5;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.searchbox button{
    width: 15%;
    height: 47px;
    background-color: #2EB086;
     border: none;
    color: white;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 16px;
}

.logo{
    width: 12%;
   
}

.logo-right{
    width: 20%;
    height: 32px;
    margin-top: 32px;
}
 
.present{
    color: #2EB086;
}

nav{
    border-top: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 16px;
    margin-top: 16px;
    padding-top: 16px;
}

nav ul li{
    display: inline ;
    padding: 32px;
}

nav ul li a{
    text-decoration: none;
    font-size: 22px;
    color:black;
}

footer{
    background-color: black;
    color: white;
    padding: 16px 0px;
    font-size: 19px;
}

footer ul li {
    display: inline;
    padding: 0px  4.8px;
}

#buttonID{
	display: none;
	padding: 10px;
	background-color: #2EB086 ;
	color: black;
	position: fixed;
	font-size: 20px;
	border-radius: 50%;
	bottom: 50px;
	right: 30px;
	cursor: pointer;
}

#buttonID:hover{
	background-color: white;
	color: black;
}